.main-wrapper
  .container.container-padding
    .row
      .col-md-12
        %h2
          = 'Doe nu de Verzekerings Check en vind direct de verzekeraar die bij jou past'
        %p
          = 'Een uitvaartverzekering vinden die bij je past kan soms erg lastig zijn. Er zijn veel verschillen in dekking, service, afhandeling en natuurlijk prijs. Om dit proces makkelijker te maken hebben wij de Verzekerings Checker ontwikkeld. Doorloop binnen 3 minuten een aantal vragen waarbij je aangeeft hoe belangrijk je een onderwerp vindt, onze Verzekerings Checker analyseert je antwoorden en komt met een passend advies voor een verzekering.'
        .center-cta-holder
          = button_to "Doe nu de Verkerings Check", test_form_template_test_forms_path(test_form_template_id: @test_form_template), class: ['btn', 'btn-success']
