.container-padding
  padding-top: 25px
  padding-bottom: 25px
.table-header
  font-size: 18px
  font-weight: bold
.main-logo
  text-align: center
  img
    width: 300px
.pull-right
  float: right
.center-cta-holder
  text-align: center
  margin-top: 20px
  margin-bottom: 20px
