.game-background
  .counter
    = "Je hebt zoveel dinos gered: 0"
  .running-dino.rennende-dino
  .flying-dino.vliegende-dino
  .bad-spino.stoute-spino
  .stego-dino.stegosausur-dino
  .running-dino.pre
  .flying-dino.pre
  .bad-spino.pre
  .stego-dino
  .start-button
    %button{ class: ['btn', 'btn-primary', 'start-game-button'] }
      = 'start spel'
